html {
  background-color: #eeeeee;
}

form, canvas {
  padding: 20px;
}

canvas {
  height: 75vmin; 
  width: 75vmin;
  max-width: 50vw;
  max-height: 50vw;
}

form {
  height: 75vmin;
  width: 75vmin;
  max-width: 50vw;
  max-height: 50vw;
  display: flex;
  flex-direction: column;
}

/* Once the screen width becomes small enough to be a square, make the main content column based. */
@media (max-aspect-ratio: 1/1) {
  body {
    flex-direction: column;
  }

  canvas {
    max-width: 50vh;
    max-height: 50vh;
  }
  
  form {
    max-width: 50vh;
    max-height: 50vh;
  }
}

body {
  font-family: monospace;
  justify-content: space-evenly;
  height: 100vh;
}

#results {
  height: 100%;
}

p, ul {
  border: 1px solid;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
  height: 100%;
}

p {
  margin: 0;
  justify-content: center;
}

label {
  padding-left: 2rem;
  display: block;
}

.flex {
  display: flex;
  align-items: center;
}

/* Hidden class for a11y users */
.hidden {
  /* Using the clip pattern to hide elements but
     still read them for a screen-reader */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Loading CSS below */

.loading {
  margin-left: .5rem;
  border: .2rem solid #f3f3f3;
  border-radius: 50%;
  border-top: .2rem solid #3498db;
  width: 1rem;
  height: 1rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}